body{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    color: black;
}
.saveButton{
    border-radius: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="text"] {
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #4E5764;
    color: #ffffff; /* Add a text color for better visibility */
    width: 300px; /* Add a width to the input for demonstration */
    box-sizing: border-box; /* Include padding in the width calculation */
  }