body{
    background-color:#E8EDEF;
    font-family: 'Roboto', sans-serif;
}
.head{
  background-color: #475159;
}
.menu{
  position: sticky;
  height: 20%;
  background-color: #475159;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #475159;
  position: sticky;
  height: 40%;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
input[type="search"] {
  border-radius: 20px;
  padding: 10px 15px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Add a border for better visibility */
  outline: none; /* Remove the default blue outline on focus */
  background-color: #4E5764;
}

#menue_bar{
  display: none;
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px;
}
menu {
  display: flex;
}

menuitem {
  padding: 10px;
}
a{
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
}

.searchbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  /* .left_div {
    background-color: rgb(247, 236, 236);
    flex: 0 0 15%;
    max-width: 15%;
    z-index: 10;
    padding: 20px;
    /* border-radius: 20px; 
    backdrop-filter: blur(10px);
  }
   */
  
  .center_div {
    overflow: auto;
    text-overflow: ellipsis;
    background-color: #E8EDEF;
    flex: 0 0 85%;
    max-width: 65%;
    
  }
  
  .right_div {
    background-color: #E8EDEF;
    flex: 0 0 15%;
    max-width: 15%;
  }
  .about{
    background-color: #475159;
  }
  .contact{
    background-color: #E8EDEF;
  }
  .mail_list{
    display: none;
  }
  /* CSS for smaller screens */
@media (max-width: 768px) {
  div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  /* .button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  } */

  .searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
