<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userview.css') }}">
    <script src="{{ url_for('static', filename='js/userview.js') }}"></script>
</head>
<body>
    <div class="menu">  
        <menu>
            <menuitem label="Option 1"><a href="/">Home</a></menuitem>
            <menuitem label="Option 2"><a href="/about">About</a></menuitem>
            <menuitem label="Option 3"><a href="#contact">Contact</a></menuitem>
        </menu>     
    </div>
    
    <div class="about" id="about">
        <center><h3 class="heading">About</h3></center> 
        <p>Welcome to "Insights in Law," a dynamic and comprehensive legal blog that delves into the intricacies of the legal world. Our mission is to empower readers with a deeper understanding of the law, ensuring they are well-informed and equipped to navigate legal challenges confidently. Through thought-provoking articles, expert analysis, and real-world case studies, we aim to enlighten both legal professionals and curious individuals alike.

            At "Insights in Law," we pride ourselves on delivering meticulously researched and engaging content. Our team of seasoned legal experts and industry specialists bring a wealth of knowledge to the table, covering a broad spectrum of legal topics. Whether you seek insights into landmark court decisions, updates on legislative changes, or simply wish to explore the fascinating realm of law, our blog is your one-stop destination for all things legal. Join us on this enriching journey as we unravel the complexities of law and provide you with valuable perspectives to navigate the ever-evolving legal landscape.</p>
    </div>
    <div class="contact" id="contact">
        <center><h3 class="heading">Contact</h3></center>
        <a href="tel:+1234567890"><img class="menue_bar" src="{{ url_for('static', filename='img/phone-call.png') }}" alt="call"></a>
        <a href="mailto:josephwakahu12@gmail.com"><img class="menue_bar" src="{{ url_for('static', filename='img/email.png') }}" alt="email"></a></a>
        <a href="https://twitter.com/patiwangechi"><img class="menue_bar" src="{{ url_for('static', filename='img/twitter.png') }}" alt="twitter"></a>    
    </div>
</body>
</html>