<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admins</title>
    <style>

        #form_log{
            display: block;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <!-- the adding a blog part-->
    <div class="input_part">
        <h2>Add your blog here pat part by part as shown</h2>
        <form>
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="first_par">First Artical:</label><br>
            <textarea type="text" id="first_par" name="first_par"></textarea><br>
            <label class="input_article"for="second_par">Second Artical:</label><br>
            <textarea type="text" id="second_par" name="second_par"></textarea><br>
            <label class="input_article"for="third_par">Third Artical:</label><br>
            <textarea type="text" id="third_par" name="third_par"></textarea><br>
            <label class="input_article" for="fourth_par">Fourth Artical:</label><br>
            <textarea class="input_article" type="text" id="fourth_par" name="fourth_par"></textarea><br>
            <label for="fiveth_par">Fiveth Artical:</label><br>
            <textarea class="input_article" type="text" id="fiveth_par" name="fiveth_par"></textarea><br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>