<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userview.css') }}">
    <script src="{{ url_for('static', filename='js/userview.js') }}"></script>
    <title>Error</title>
</head>
<body>
    <div class="menu">  
        <menu>
           
            <menuitem label="Option 2"><a href="/about">About</a></menuitem>
            <menuitem label="Option 3"><a href="#contact">Contact</a></menuitem>
        </menu>     
    </div> 

    <div>
        <center style="font-size: large; color: black;"><h3>Sorry for that, It seems like that page can't be found </h3></center>
        <center style="font-size: large; color: black;"><a href="/"> lets get you home</a></center>
    </div>
    
    
</body>
</html>