<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>law blog</title>
    <style>
        .top{
            background-color: blue;
            position: sticky;
        }
    </style>
</head>
<body>
    <div class="top">
        <h1>Pats Blog</h1>
        <div class="searchbar"></div>
        <button class="button">Join maillisst</button>
    </div>
    <div class="left_div">
        <li>
            <!-- the list of past blogs will point to a function which will get the blog and render the page -->
            <!-- %for recent ....function to get recent blogs -->
            <a href="">sub heading</a>

        </li>
    </div>
    <div class="center_div">
        <article class="full_article">
            <h1>Main heading</h1>
            <article>
                <h2 class="sub_heading">{{sub_heading}}</h2>
                <p class="content">{{article_content}}</p>
            </article>
        </article>
    </div>
    <div class="advert_div">
        <p>this is where adverts come </p>
    </div>
</body>
</html>