<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>law blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userview.css') }}">
    <script src="{{ url_for('static', filename='js/userview.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>
<body> 
<div class="head">     
    <div class="menu">
        
            <menu>
                <menuitem label="Option 1"><a href="">Home</a></menuitem>
                <menuitem label="Option 2"><a href="">About</a></menuitem>
                <menuitem label="Option 3"><a href="">Contact</a></menuitem>
            </menu>  
        
    </div>
    <br>
    <div class="top">
 
        <div id="topbar">
          <h1>Pats Blog</h1> 
            
        </div>
        
        <div class="searchbar">
            <form action="/search" method="post">
                <input type="search" name="name" id="" placeholder="search for an article">
            </form>
        </div>
        <button class="button" id="mail_list">Join mail lists</button>
    </div>
    <br> 
    <h3>Past Articles</h3>
    <div class="resent_list">    
    {% for title in titles %}
        <div class="resent">
          {{ title }}
        </div>
    {% endfor %}
    </div>
    <br>
</div>
    <hr>
    <br>
    <div class="content">
        <br>
        <br>
        <div class="center_div">
            {{ blog | safe }}
            <div class="interact">
                <p>1</p>
                <img class="menue_bar" id="add_comment" src="{{ url_for('static', filename='img/comment.png') }}" alt="comment">
                <p>1</p>
                <img class="menue_bar" id="heart" src="{{ url_for('static', filename='img/heart.png') }}" alt="heart">
                <p>1</p>
                <img class="menue_bar" id="dislike" src="{{ url_for('static', filename='img/dislike.png') }}" alt="dislike">

                <img class="menue_bar" id="share" src="{{ url_for('static', filename='img/share.png') }}" alt="share">
            </div>
            
            <div class="comments">

            </div>
        </div>            
        <div class="right_div">
            
        </div>
    </div>
    <br>
    <br>
    <hr>
    <footer>
        <div class="about">
            <center><h3 class="heading">About</h3></center> 
            <p>Dear Hiring Team, I am writing to express my interest in the backend developer position. With a strong background in </p>
        </div>
        <div class="contact">
            <center><h3 class="heading">Contact</h3></center>
            
        </div>
    </footer>

    <div class="pop_up" id="pop_up1" style="display: none;">
        <form action="" method="post">
            <input type="text" name="name" id="" placeholder="Enter your name">
            <input type="email" name="email" id="" placeholder="Enter your email">
            <br>
            <br>
            <center><button class="button">Join</button></center>
        </form>
        <button class="close-button" onclick="togglePopUp('pop_up1')">Close</button>
    </div>
    
    <div class="pop_up" id="pop_up2" style="display: none;">
        <form action="comment" method="post">
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <br>
            <br>
            <center><button class="button">post</button></center>
        </form>
        <button class="close-button" onclick="togglePopUp('pop_up2')">Close</button>
    </div>
    
</body>
</html>